body 
{
    background-image: url('etusivu.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    font-family:'Times New Roman',serif
}

header
{
    text-shadow: 2px 1px black;
}

section
{
    background-color: blanchedalmond;
    margin-top: 40px;
    padding: 30px;
}

footer .text-center
{
    text-align: center;
    padding-top: 10px;
}

footer
{
    text-shadow: 2px 1px black;
}

.navbar-toggler
{
    background-color: white
}    


